xsd/i18n.xsd

<?xml version="1.0"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://xml.phptal.org"
xmlns="http://xml.phptal.org/i18n"
elementFormDefault="qualified">
  <xs:attribute name="translate" type="xs:string"/>
  <xs:attribute name="name" type="xs:string"/>
  <xs:attribute name="domain" type="xs:string"/>
  <xs:attribute name="attributes" type="xs:string"/>
</xs:schema>
